*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
}
.head-text{
    padding-left: 30px;
    font-size: 40px;
    font-weight: 700;
}
.head{
    border-bottom: solid black 5px;
}
.main{
    width: 600px;
    margin: 0 auto;
}
.title-text{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.subtitle-text{
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 80px;
}
.info-link{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    background-color: #34B6FF;
    border-radius: 10px;
}
.info-link-container{
    margin-bottom: 80px;
    text-align: center;
}
.info-link:hover{
    background-color: rgb(0, 162, 255);
}
.footer{
    text-align: center;
    width: 100%;
    bottom: 0px;
    background-color: #F0F0F0;
    color: #B8B8B8;
    position: fixed;
}
.profile-img{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.back-button{
    color: black;
    margin-left: 40px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
.back-button-container{
    margin-top: 40px;
    margin-bottom: 70px;
}
.back-button:hover{
    color: #B8B8B8;
}
.vid-container{
    width: 600px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
.vid-desc{
    margin-left: 10px;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
}
.vid-date{
    font-size: 30px;
    font-weight: 200;
}
.profile-img-desc{
    color: #B8B8B8;
    text-align: center;
    margin-bottom: 70px;
}